html {
    background: radial-gradient(circle, DarkGrey 50%, DarkGreen 50%, LightGrey);
    background-size: 8px 8px;
}
.flex-container {
    display: flex;
}
.blue-text {
    color: blue;
}
.center-format {
    margin: auto;
    padding: 8px;
    min-width: 200px;
    max-width: fit-content;
}
.better-box {
    background-color: lightgray;
    border: 2px solid black; 
    border-radius: 16px;
}
.paragraph-by-autospace {
    white-space: pre-line;
}
.invisable-padded-box {
    margin: 8px;
    padding: 8px;
}
.no-automargin {
    margin: 8px !important;
}
p {
    font-size: 5mm;
    font-family: sans-serif;
}
.good-size {
    max-width: 707.781px !important;
    max-height: 217.781px;
    min-height: min-content;
    min-width: min-content !important;
} 
.bigger-good-title {
    font-size: 6mm !important;
}
.TILT-blue-border-lblue-bg {
    border: 3px solid blue !important;
    border-radius: 16px !important;
    padding: 3px;
    background-color: lightblue;
    color: black !important;
}
.any-height {
    max-height: fit-content !important;
}
.smallmargin {
    margin: 3px;
}

.nomargin {
    margin: 0px !important
}

.smaller-link-font {
    font-size: 3mm !important;
}

.bigger-button {
    height: 40 !important;
    width: 140 !important;
}