<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="static/styles/betterstyle.css">
    </head>
    <body>
        <div class="better-box center-format">
            <h3 class="blue-text center-format">Want to donate? You now can!</h3>
            <div class="center-format no-automargin">
                <p class="paragraph-by-autospace">
                    To make donations, either fill out this form,
                     or you can donate to <a href="https://www.techforall.org/">techforall.org</a>, 
                     which is another organization that maintains a project similar to ours.
                </p>
            </div>
        </div>
    </body>