<!DOCTYPE html>
<html>
    <head>
        <title>Tilt Website</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="static/styles/betterstyle.css">
    </head>
    <body>
        <div class="good-size better-box center-format"> <!-- title box -->
            <div class="center-format">
                <div class="TILT-blue-border-lblue-bg">
                    <h1 class="center-format">T.I.L.T. Organization</h1>
                </div>
                <div class="flex-container">
                    <h4 class="paragraph-by-autospace invisable-padded-box">
                        Technology and Innovation in 
                        Third-World Countries-helping educate 
                        the world Step-By-Step</h4>
                    <img src="images/TILT_logo_no-bg.png" height="100px" width="100px" class="invisable-padded-box">
                </div>
            </div>
        </div>
        <br>
        <div class="better-box center-format"> <!-- desc box -->
            <h3 class="blue-text center-format bigger-good-title">What is T.I.L.T ?</h3>
            <div class="flex-container center-format no-automargin"> <!--flex-->
                <div>
                    <p class="paragraph-by-autospace">Our goal as an organization is to ensure that every household child is
                    properly funded the proper technology needed for their learning life.
                     <b>We believe technology is the key to our lives and education</b>, and all children
                      <b>no matter their financial situation</b> should be properly provided with technology.
                       We hope to effectively <b>improve technology accessibility all over the world</b>.
                    </p>
                </div>
            </div> <!-- end of flex -->
        </div>
        <br>
        <div class="better-box center-format good-size">
            <div class="center-format">
                <h3 class="blue-text center-format bigger-good-title">How do you plan to do meet your goals?</h3>
                <div>
                    <p class="paragraph-by-autospace">We plan to <b>help every child in need</b> by accepting
                        donated old and broken computers. These <b>we will fix, and distribute</b> to the people who need them. If <b>you plan on donating, you don't have to have an
                        old computer</b>. We now are accepting small sums of cash, as these help us as we 
                        <b>stride proudly toward our goal</b>.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="better-box center-format good-size any-height"> <!-- pres box -->
            <h3 class="center-format blue-text bigger-good-title">Our presentation!</h3>
            <div class="flex-container center-format no-automargin">
                <img src="images/qr/TILTpresentation.png" height="200px" width="200px" class="invisable-padded-box">
                <div>
                    <p class="paragraph-by-autospace">You can scan this QR code to view our
                        presentation, or <a href="https://malachi196.github.io/TILT-website/templates/index.html">click here</a>!
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="better-box center-format good-size"> <!-- donations box -->
            <div class="center-format">
                <h3 class="center-format blue-text bigger-good-title">Want do donate?</h3>
                <div class="flex-container center-format no-automargin">
                    <div class="center-format">
                        <p class="paragraph-by-autospace">
                            To donate to our project, <a href="https://malachi196.github.io/TILT-website/templates/donations.html">click here</a>
                            and you will be redirected to our
                            donation section!
                        </p>
                    </div>
                    <img src="images/donation.png" height="100px" width="100px" class="invisable-padded-box">
                </div>
            </div>
        </div>
        <br>
        <div class="better-box center-format good-size"> <!-- questions box -->
            <div class="center-format">
                <h3 class="center-format blue-text bigger-good-title">Have any questions?</h3>
                <div class="flex-container center-format no-automargin">
                    <div>
                        <p class="paragraph-by-autospace">If you have any questions,
                             feel free to ask them <a href="https://malachi196.github.io/TILT-website/templates/questions.html">here</a>.
                        </p>
                    </div>
                    <img src="images/qmark.png" height="100px" width="100px" class="invisable-padded-box">
                </div>
            </div>
        </div>
    </body>
</html>