<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="static/styles/betterstyle.css">
        <script src="static/servers/getform.js"></script>
    </head>
    <body>
        <div class="better-box center-format">
            <h3 class="center-format blue-text">Have any questions? Ask them here!</h3>
            <form method="post" onsubmit="query_data()" action="https://malachi196.github.io/TILT-website/templates/response.html">
                <div class="smallmargin">
                    <label for="name" class="">Name or nickname: </label><br>
                    <input type="text" id="uname" name="name" placeholder="John Doe"><br>
                </div>
                <div class="smallmargin">
                    <label for="qu" class="">Question/Comment: </label><br>
                    <input type="text" id="qu" name="question" placeholder="ask question here..." size="50"><br>
                </div>
                <input type="submit" value="submit" class="smallmargin" onsubmit="query_data()">
            </form>
        </div>
    </body>
</html>