<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="static/styles/betterstyle.css">
    </head>
    <body>
        <div class="better-box center-format">
            <div class="center-format">
                <p class="paragraph-by-autospace">Thank you for donating! We will remember your help.</p>
                <div class="center-format">
                    <img src="images/donated.png" height="100px" width="100px">
                </div>
            </div>
        </div>
    </body>
</html>